body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  color: #ff8643;
}

#root {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #ff8643;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

h1 {
  margin: 1em 0;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
}

.logo {
  width: 20vw;
  height: auto;
  padding-top: .4em;
}

.menu-icon {
  display: none;
}

.header-nav {
  display: flex;
}

.header-nav li {
  width: auto !important;
}

/* home */
.home-wrap {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  width: 25%;
}

.content {
  width: 70%;
}

.black {
  color: black;
}

.home-food-list {
  display: flex;
}

/* auth */
.auth-form {
  width: 50%;
  margin: 0 auto;
}

.input-field {
  width: 100%;
  margin-bottom: 2em !important;
}

/* addfoods */
.food-input {
  width: 100%;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="number"] { 
  -moz-appearance:textfield; 
} 

.food-buttons {
  display: flex;
  justify-content: space-between;
}

.foods-table {
  margin-bottom: .5em;
}

.delete-row {
  margin-bottom: 2em !important;
}

.food-buttons button {
  width: 33%;
}

.food-delete {
  display: block;
  width: 50%;
  margin: 0 auto 5em;
}

.past-food-list {
  display: flex;
  justify-content: space-between !important;
}

.past-food-name { 
  color: #000;
}

/* footer */
footer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  text-align: center;
  padding: 0 0 2em;
  color: black;
  margin-top: 5em;
}

@media all and (max-width: 966px) {
  .container {
    width: 95%;
  }
}

@media all and (max-width: 768px) {
  body {
    font-size: 15px;
  }
  h1 {
    font-size: 20px;
  }
  /* header */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
  }

  .logo {
    width: 45vw;
    height: auto;
    padding-top: .4em;
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: .1em .5em 0 0;
  }

  .modal-close-button {
    cursor: pointer;
    text-align: right;
    padding-right: .3em;
  }

  .header-nav {
    display: none;
  }

  .header-nav li {
    width: auto !important;
  }

  /* auth */
  .auth-form {
    width: 95%;
    margin: 0 auto;
  }

  /* addfoods */
  .food-delete {
    width: 100%;
    margin: 0 auto 3em;
  }

  .food-buttons {
    margin-top: 7em;
    flex-direction: column;
  }

  .food-buttons button {
    margin-bottom: .5em;
    width: 100%;
  }

  .css-1acyv19 {
    width: 90% !important;
  }
}
